.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  width: 80%;
  max-width: 900px;
  height: auto;
  display: none; /* Mantém a notificação oculta inicialmente */
}

.message-text {
  font-size: 2.5em;
  //font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  white-space: pre-line;
}
