.notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  z-index: 1000;
}

.notification h1 {
  font-size: 2rem;
}
