<div class="logo-container">
  <img src="assets/imagens/logo.jpeg" alt="Logo">
</div>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Usuário</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
  </div>

  <button type="submit" class="btn btn-primary">Entrar</button>
</form>