

<form (ngSubmit)="onSubmit()">
  
<div class="logo-container">
  <img src="assets/imagens/logo.jpg" alt="Logo">
</div>
  
<div class="form-group">
  <label for="username" style="font-size: 1.5em;">Usuário</label>
  <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required style="font-size: 1.5em; line-height: 1.5; padding: .5rem 1rem;">
</div>

<div class="form-group">
  <label for="password" style="font-size: 1.5em;">Senha</label>
  <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required style="font-size: 1.5em; line-height: 1.5; padding: .5rem 1rem;">
</div>

<button type="submit" class="btn btn-primary" style="font-size: 1.5em; line-height: 1.5; padding: .5rem 1rem;">Entrar</button>
</form>