<!-- Formulário de login, que chama a função onSubmit quando é submetido -->
<form (ngSubmit)="onSubmit()">
  
  <!-- Container para o logo -->
  <div class="logo-container">
    <!-- Imagem do logo -->
    <img src="assets/imagens/logo pet.png" alt="Logo">
  </div>
  
  <!-- Grupo de entrada para o nome de usuário -->
  <div class="form-group">
    <!-- Rótulo para o campo de nome de usuário -->
    <label for="username" style="font-size: 1.5em;">Usuário</label>
    <!-- Campo de entrada para o nome de usuário -->
    <input type="text" class="form-control campo" id="username" [(ngModel)]="username" name="username" required style="font-size: 1.5em; line-height: 1.5; padding: .5rem 1rem;">
  </div>

  <!-- Grupo de entrada para a senha -->
  <div class="form-group">
    <!-- Rótulo para o campo de senha -->
    <label for="password" style="font-size: 1.5em;">Senha</label>
    <!-- Campo de entrada para a senha -->
    <input type="password" class="form-control campo" id="password" [(ngModel)]="password" name="password" required style="font-size: 1.5em; line-height: 1.5; padding: .5rem 1rem;">
  </div>

  <!-- Exibição da mensagem de erro -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Botão para submeter o formulário -->
  <button type="submit" class="btn bot-entrar" routerLink="/menu"
  routerLinkActive="active">Entrar</button>

</form>
