/* Define z-index values */
$z-index-wrapper: 10;

/* Define colors */
$color-wrapper-bg: #6562629c;

.animal-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;

  .animal-image {
    position: relative;

    /* Show the animal wrapper on hover */
    &:hover {
      .animal-wrapper {
        display: block;
      }
    }
  }

  .animal-wrapper {
    display: none;
    position: absolute;
    background-color: $color-wrapper-bg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-wrapper;
  }
}