<!-- 'ul' é uma lista não ordenada. As classes 'animal-list' e 'list-unstyled' são usadas para estilização -->
<ul class="animal-list list-unstyled">
    <!-- 'ngFor' é uma diretiva do Angular que replica o elemento HTML para cada item em uma coleção -->
    <!-- Neste caso, um 'li' é criado para cada 'animal' na coleção 'animais' -->
    <li *ngFor="let animal of animais" class="d-flex flex-column">
        <!-- 'div' para a imagem do animal -->
        <div class="animal-image">
            <!-- A imagem do animal é carregada dinamicamente usando a propriedade 'imagem' do objeto 'animal' -->
            <!-- O texto alternativo da imagem também é carregado dinamicamente usando a propriedade 'nome' do objeto 'animal' -->
            <img src="{{  animal.imagem }}" alt="Foto de {{ animal.nome }}" class="rounded img-fluid">
            <!-- 'div' para o botão 'Adotar' que é exibido quando o mouse passa sobre a imagem -->
            <div class="animal-wrapper p-2 ">
                <!-- O botão 'Adotar' navega para a rota '/cadastros-adotantes' quando clicado -->
                <button class="btn btn-success mx-2"routerLink="/cadastros-adotantes"  routerLinkActive="active">Adotar</button>
            </div>
        </div>
        <!-- O nome do animal é exibido em negrito -->
        <strong class="fs-4">{{ animal.nome }}</strong>
        <!-- Várias propriedades do animal são exibidas -->
        <span>pelagem: {{ animal.pelagem }}</span>
        <span>Espécie: {{ animal.especie }}</span>
        <span>Gênero: {{ animal.sexo }}</span>
        <span>Idade: {{ animal.idade }}</span>
        <span>Raça: {{ animal.raca }}</span>
    </li>
</ul>

<!-- 'ngIf' é uma diretiva do Angular que condicionalmente inclui ou exclui um bloco de HTML com base na expressão fornecida -->
<!-- Neste caso, a mensagem é exibida se a coleção 'animais' estiver vazia -->
<h1 *ngIf="!animais.length" class="fs-3 display-3 text-center">Não há nenhum animalzinho</h1>




<!-- não precisa de alterações para receber dados do back-end. 
Ele está configurado para exibir dinamicamente os dados dos animais, que são fornecidos pela propriedade animais do componente.
Quando atualiza a propriedade animais no arquivo TypeScript do componente para receber dados do back-end 
 o Angular automaticamente atualiza a visualização (HTML) para refletir essas mudanças.
desde que os objetos de animal que você está recebendo do back-end tenham as propriedades que está usando
 no HTML (como imagem, nome, pelagem, especie, sexo, idade e raca), código HTML deve funcionar corretamente sem necessidade de alterações.-->