// Define valores para z-index
$z-index-wrapper: 10;

// Define cores
$color-wrapper-bg: #404a4a9c;

.bot-adotar {
  background-color:  #FFB6C1;
  color: black;
}
.bot-adotar:hover {
  background-color:  #FFB6C1;
  box-shadow: 0 10px 10px 5px rgb(146, 247, 220);
}

.animal-data {
  margin-top: 1rem;
}

.animal-list {
  margin-top: -30px;
  background-color: #e9f7f7;
  // Define o display para grid
  display: grid;
  // Define 4 colunas de tamanho igual
  grid-template-columns: repeat(4, 1fr);
  // Centraliza os itens na célula da grid
  justify-items: center;
  // Define o espaço entre os itens da grid
  gap: 2rem;
  padding: 2rem;

  .animal-image {
    // Define a posição como relativa para permitir posicionamento absoluto dos filhos
    position: relative;
    box-shadow: 15px 13px 10px  rgb(146, 247, 220);

    // Mostra o wrapper do animal quando o mouse passa sobre a imagem
    &:hover {
      .animal-wrapper {
        display: block;
      }
    }
  }

  .animal-wrapper {
    // Esconde o wrapper do animal por padrão
    display: none;
    // Posiciona o wrapper do animal sobre a imagem
    position: absolute;
    // Define a cor de fundo do wrapper do animal
    background-color: $color-wrapper-bg;
    // Posiciona o wrapper do animal no topo e à esquerda da imagem
    top: 0;
    left: 0;
    // Faz o wrapper do animal ocupar toda a largura e altura da imagem
    width: 100%;
    height: 100%;
    // Coloca o wrapper do animal acima da imagem
    z-index: $z-index-wrapper;
  }
}