<body class="background">
  
<!-- Barra de navegação no topo da página -->
<nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <!-- Botão Home na barra de navegação -->
      <div class="header">
        <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
        <img src="assets/imagens/pegada (2).png" class="pegada" alt="Pegada">
        </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- O atributo href define o destino do link -->
          <a class="btn btn-info bot-home" href="#">Home
            <span class="visually-hidden">(current)</span> 
          </a> 
        </li>
      </ul>
      <a class="insta" href="https://www.instagram.com/seu_nome_de_usuario" target="_blank">
        <img src="assets/imagens/instaPng.png" alt="Logo do Instagram" title="Siga-nos no Instagram" style="width: 50px; height: 50px;">
      </a>
    <a class="what" href="https://wa.me/1234567890" target="_blank">
      <img src="assets/imagens/what.png" alt="Logo do WhatsApp" title="Entre em contato conosco no WhatsApp" style="width: 50px; height: 50px;">
    </a>
      <!-- Título na barra de navegação -->
      <ul class="navbar-nav"></ul>
    </div>
  </div>
</nav>
<!-- Início do conteúdo principal -->
<h1 class="titulo">Nosso projeto é totalmente financiado por nós, o que significa que toda ajuda é bem-vinda</h1>

<div class="container">
  <div class="card" id="card1">
    <img src="assets/imagens/patag.png " class="img1" alt="Pata do Pet">
    <div class="card-content">
      <h1>Doações</h1>
      <h3> &nbsp;&nbsp;Contribua de diversas formas para ajudar nossos animais resgatados. 
        Aceitamos doações de ração, medicamentos, materiais de limpeza e de procedimento.
         Sua generosidade faz toda a diferença na vida dos animais necessitados que cuidamos.</h3>
      <h1>Pix</h1>
      <h3>Doações via pix são igualmente valiosas, agradecemos por seu apoio.</h3>
     
        <h3 >Contribua via<br>PIX: 010100110101<br>para o <em><strong>PetGuardian</strong></em></h3>
      <a href="https://wa.me/1234567890"  class="bot-common bot1" target="_blank">
        <button>Outras doações</button>
      </a>
    </div>
  </div>
  
  <div class="card" id="card3">
    <img src="assets/imagens/patacat.png" class="img2" alt="Pata do Pet">
    <div class="card-content">
      <h1>Apadrinhamento</h1>
      <h3> &nbsp;&nbsp;Torne-se padrinho ou madrinha de um ou de vários animais abrigados sem precisar levá-lo para casa. 
        Esta é uma ótima opção para quem gostaria de ajudar o nosso Projeto, mas não tem condições de adotar. 
        <br> &nbsp;&nbsp;Não é obrigatória a escolha de um animal, você poderá definir o apadrinhamento como genérico, ou seja, para todos.
         Você também pode apadrinhar quantos animais desejar.</h3>
      <a href="https://wa.me/1234567890" class="bot-common bot2" target="_blank">
        <button>Saiba mais</button>
      </a>
    </div>
  </div>
</div>


<footer>
  <div class="footer-grid">
    <div>
      <p>Disque Denúncia Animal (São Paulo e Grande São Paulo)<br> 0800 600 6428</p>
      <p>Web Denúncia – <a href="http://www.webdenuncia.org.br" target="_blank">www.webdenuncia.org.br</a></p>
    </div>
    <div>
      <p>Delegacia Eletrônica de Proteção Animal<br>(Depa) – <a href="http://www.ssp.sp.gov.br/depa" target="_blank">http://www.ssp.sp.gov.br/depa</a></p>
      <p>Disque 181 ou (11) 3338-0155 / 1380</p>
    </div>
    <div>
      <p>Polícia Ambiental: <a href="http://denuncia.sigam.sp.gov.br/" target="_blank">http://denuncia.sigam.sp.gov.br/</a></p>
      <p>E-mail: <a href="mailto:ambientaldenuncias@policiamilitar.sp.gov.br">ambientaldenuncias@policiamilitar.sp.gov.br</a></p>
    </div>
  </div>
</footer>
<span class="criado"> Criado por PI-1 007 013 </span>

</body>