$golden: gold;
$black: black;
$main-color: #a7087a;

.navbar-rosa-claro {
    background-color: #FFB6C1;
}

.bot-home {
  font-weight: bold; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 15px; 
  background-color:  rgb(146, 247, 220) ; /* Substitua #corDeFundo pela cor que deseja */
  color:black; /* Substitua #corDoTexto pela cor que deseja */
}

.aligned-text {
  text-align: justify;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.golden-button {
  background-color: $golden;
  color: $black;
  margin-left: 100px; // Adiciona uma margem à esquerda do botão
}

ul, li {
  border: none; // Remove as linhas
  padding: 20px; // Adiciona espaço dentro da borda
  margin-bottom: 20px; // Adiciona espaço abaixo de cada item da lista
}

.title {
  color: $main-color;
  font-weight: bold;
  font-style: italic;
}

.subtitle {
  text-align: center; // Centraliza o texto
}

.ajudar {
  padding: 35px 35px; 
  background: #bee8e6;

  h1 {
    color: #090808;
    text-align: center;
    font-size: 5em;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 auto;
    max-width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      button {
        padding: 0 20px;
        border: 1px solid #333;
        margin: 7px 5px;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}

body {
  font-weight: bold;
  font-size: 20px; // Diminui o tamanho da fonte para 20 pixels
}