$golden: gold;
$black: black;
$main-color: #a7087a;
$card-bg:rgb(224, 223, 233); // Cor de fundo dos cards alterada para a mesma cor do botão Home
$card-header-bg:   rgb(146, 247, 220);
$card-header-color: #000c03;
$btn-bg:rgb(146, 247, 220);
$btn-hover-bg: #138496;
$btn-focus-border: #9ede73;

// Restante do código SCSS...
// Estilo da barra de navegação
.navbar-rosa-claro {
    background-color: #FFB6C1;
}

// Estilo do botão Home
.bot-home {
  font-weight: bold; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 15px; 
  background-color:  rgb(146, 247, 220);
  color:black;

  // Estilo do botão Home quando o mouse está sobre ele
  &:hover {
    background-color: rgb(62, 237, 167);
    box-shadow: 0 10px 10px 3px rgb(165, 245, 213);
  }
}

// Estilo do texto alinhado
.aligned-text {
  text-align: justify;
}

// Estilo do botão dourado
.golden-button {
  background-color: $golden;
  color: $black;
  margin-left: 100px;
}

// Estilo das listas e itens de lista
ul, li {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}

// Estilo do título
.title {
  color: $main-color;
  font-weight: bold;
}

// Estilo do subtítulo
.subtitle {
  text-align: center;
}

// Estilo do conteúdo principal
.ajudar {
  padding: 35px 35px; 
  background:  #FFB6C1;

  // Estilo do título principal
  h1 {
    color: #090808;
    text-align: center;
    font-size: 5em;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 auto;
    max-width: 300px;
  }

  // Estilo do formulário
  form {
    display: flex;
    flex-direction: column;

    // Estilo do container do botão
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      // Estilo do botão
      button {
        padding: 0 20px;
        border: 1px solid  rgb(137, 128, 232);
        margin: 7px 5px;
      }
    }

    // Estilo do botão
    button {
      margin-top: 20px;
    }
  }

  // Estilo dos cards
  .card {
    background-color: $card-bg;
    margin-bottom: 20px; // Adiciona espaço entre os cards
    border-radius: 5px; // Arredonda os cantos dos cards
    box-shadow: 0 2px 5px  rgb(137, 128, 232); // Adiciona sombra aos cards

    .card-header {
      background-color: $card-header-bg;
      color: $card-header-color;
    }

    .card-body {
      display: flex;
      justify-content: space-between; // Alinha o conteúdo do corpo do cartão em ambos os lados
      padding: 20px; // Adiciona espaço ao texto
    }

    .btn {
      background-color: $btn-bg;
      color: white;

      &:hover {
        background-color: $btn-hover-bg;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba($btn-focus-border, 0.5); // Adiciona um foco estilizado ao botão
      }
    }
  }
}

// Estilo do corpo do texto
body {
 
  font-size: 20px;
}

// Estilo do texto preto
.black-text {
  color: black;
}

// Estilo do botão padrão
.btn-padrao {
  font-weight: bold; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 15px; 
  background-color:    rgb(137, 128, 232);
  color: black;

  // Estilo do botão padrão quando o mouse está sobre ele
  &:hover {
    background-color:  rgb(137, 128, 232);
    box-shadow: 0 10px 10px 3px rgb(137, 128, 232);
  }
}