<body class="back">
  
<!-- Barra de navegação no topo da página -->
<nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <!-- Botão Home na barra de navegação -->
      <div class="header">
        <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
        <img src="assets/imagens/pegada (2).png" class="pegada" alt="Pegada">
        </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- O atributo href define o destino do link -->
          <a class="btn btn-info bot-home" href="#">Home
            <span class="visually-hidden">(current)</span> 
          </a> 
        </li>
      </ul>
      <!-- Título na barra de navegação -->
      <ul class="navbar-nav"></ul>
    </div>
  </div>
</nav>
<!-- Início do conteúdo principal -->

<div class="container">
  <div class="card" id="card1">
    <img src="assets/imagens/caes.jpeg" alt="Pata do Pet">
    <div class="card-content">
      <h2>Doações

        Você pode contribuir de diversas formas para ajudar nossos animais resgatados.
        Aceitamos doações de ração, cobertores, medicamentos, materiais de limpeza e de procedimento.
        Alternativamente, doações em dinheiro são igualmente valiosas.
        Sua generosidade faz toda a diferença na vida dos animais necessitados que cuidamos.
        Agradecemos profundamente por seu apoio.</h2>
    </div>
  </div>
  
  <div class="card" id="card3">
    <img src="assets/imagens/caes.jpeg" alt="Pata do Pet">
    <div class="card-content">
      <h2>Apadrinhamento

        Apadrinhamento significa tornar-se padrinho ou madrinha de um ou de vários animais abrigados
         sem precisar levá-lo para casa, o bichinho continuará morando em nosso abrigo. Esta é uma ótima
          opção para quem gostaria de ajudar o nosso Projeto, mas não tem condições de adotar.
           Não é obrigatória a escolha de um animal, você poderá definir o apadrinhamento como genérico,
            ou seja, para todos. Você também pode apadrinhar quantos animais desejar.</h2>
    </div>
  </div>
</div>
</body>