<!-- adotante-form.component.html -->
<div class="header">
  <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
  <img src="assets/imagens/pegada (2).png" class="pegada" alt="Pegada">
</div>
<h2>Adotante</h2>

<div class="dialog-container form-content">
  <div mat-dialog-content class="grid-container">

    <mat-form-field class="form-field campo-nome">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="data.nome">
    </mat-form-field>

  

    <mat-form-field class="form-field">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>

  
    <mat-form-field class="form-field">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="data.telefone">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Estado Civil</mat-label>
      <input matInput [(ngModel)]="data.estadoCivil">
    </mat-form-field>

    <mat-form-field class="form-field campo-nome">
      <mat-label>Logradouro</mat-label>
      <input matInput [(ngModel)]="data.logradouro">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>CEP</mat-label>
      <input matInput [(ngModel)]="data.cep">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Cidade</mat-label>
      <input matInput [(ngModel)]="data.cidade">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Bairro</mat-label>
      <input matInput [(ngModel)]="data.bairro">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Estado</mat-label>
      <input matInput [(ngModel)]="data.estado">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Número</mat-label>
      <input matInput [(ngModel)]="data.numero">
    </mat-form-field>

    <mat-form-field class="form-field campo-nome">
      <mat-label>Complemento</mat-label>
      <input matInput [(ngModel)]="data.complemento">
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-button class="bot-cancelar" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="bot-salvar" (click)="save()" [mat-dialog-close]="data">Salvar</button>
  </div>
</div>