<!-- Cabeçalho do site -->
<header class="fixed-top">
  <!-- Barra de navegação -->
  <nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Logo e nome do site. -->
      <a class="navbar-brand ms-0 ms-md-5 d-flex align-items-center gap-3 list-unstyled">
        <!-- Logo do site -->
        <img src="assets/imagens/logo.jpg" width="96" height="96" alt="Logo">
        <!-- Título do site -->
        <h1 class="fs-3" style="color: #0a0008; font-weight: bold">PetGuardian</h1>
      </a>
      <!-- Botão que aparece em telas pequenas para expandir ou colapsar o menu de navegação -->
      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <!-- Ícone do botão -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu de navegação -->
      <div [collapse]="isCollapsed" [isAnimated]="true" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <!-- Lista de botões de navegação -->
        <ul class="m-0 py-3 list-unstyled d-flex justify-content-start flex-wrap fs-5 gap-4 gap-sm-0">
          <!-- Cada item do menu é um 'li'. 'a' é o link para a página correspondente. -->
          <!-- Item do menu para a página "Todos" -->
          <li class="nav-item">
            <a class="btn btn-custom mx-2" routerLink="/todos" routerLinkActive="active">Todos</a>
          </li>
          <!-- Item do menu para a página "Cachorros" -->
          <li class="nav-item">
            <a class="btn btn-info mx-2" routerLink="/dogs" routerLinkActive="active">Cachorros</a>
          </li>
          <!-- Item do menu para a página "Gatos" -->
          <li class="nav-item">
            <a class="btn btn-info mx-2" routerLink="/cats" routerLinkActive="active">Gatos</a>
          </li>
          <!-- Item do menu para a página "Adotar" -->
          <li class="nav-item">
            <a class="btn btn-success mx-2" routerLink="/cadastro-adotante" routerLinkActive="active">Adotar</a>
          </li>
          <!-- Item do menu para a página "Ajudar" -->
          <li class="nav-item">
            <a class="btn btn-success mx-2" routerLink="/ajudar" routerLinkActive="active">Ajudar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary mx-2" routerLink="/lista-adotantes" routerLinkActive="active">Lista-Adotantes</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary mx-2" routerLink="/lista-animais" routerLinkActive="active">Lista-Animais</a>
          </li>
        </ul>
        <!-- Botão de login -->
        <div class="d-flex justify-content-end">
          <li class="nav-item list-unstyled">
            <a class="btn btn-danger mx-2" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Carrossel de imagens -->
<app-carousel></app-carousel>

<!-- Lista de animais -->
<app-animais></app-animais>

<!-- Rodapé do site -->
<footer class="text-center py-3 text-black">
  <span> Criado por PI-1 007 013 </span>
</footer>