<!-- Cabeçalho do site -->
<header class="">
  <!-- Barra de navegação -->
  <nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Logo e nome do site. -->
      <a class="navbar-brand ms-0 ms-md-3 d-flex align-items-center gap-2 list-unstyled">
        <!-- Logo do site -->
        <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
        <img src="assets/imagens/patagato1.png" class="pegada alt1" style="animation-delay: 0s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada" style="animation-delay: 0.5s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada alt1" style="animation-delay: 1s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada" style="animation-delay: 1.5s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada alt1" style="animation-delay: 2s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada" style="animation-delay: 2.5s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada alt1" style="animation-delay: 3s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada" style="animation-delay: 3.5s;"alt="Pegada de gato">
        <img src="assets/imagens/patagato1.png" class="pegada alt1" style="animation-delay: 4s;"alt="Pegada de gato">
        <!-- Título do site -->
      </a>
      <h1>PetGuardian</h1>
      <!-- Botão que aparece em telas pequenas para expandir ou colapsar o menu de navegação -->
      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse"
       data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <!-- Ícone do botão -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu de navegação -->
      <div [collapse]="isCollapsed" [isAnimated]="true" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <!-- Lista de botões de navegação -->
        <ul class="m-0 py-3 list-unstyled d-flex justify-content-center align-items-center flex-wrap fs-5 gap-4 gap-sm-0" style="padding-left: 50px;">
          <li class="nav-item">
            <a class="btn btn-custom mx-2" routerLink="/todos" routerLinkActive="active">Todos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-pets" routerLink="/dogs" routerLinkActive="active">Cachorros</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-pets" routerLink="/cats" routerLinkActive="active">Gatos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-adaj" routerLink="/cadastro-adotante" routerLinkActive="active">Adotar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-adaj" routerLink="/ajudar" routerLinkActive="active">Ajudar</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-lista" routerLink="/lista-adotantes" routerLinkActive="active">Lista-Adotantes</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info mx-2 btn-lista" routerLink="/lista-animais" routerLinkActive="active">Lista-Animais</a>
          </li>
        </ul>
        <a class="insta" href="https://www.instagram.com/projetoqueroadotar/related_profiles/" target="_blank">
          <img src="assets/imagens/instaPng.png" alt="Instagram" style="width: 45px; height: 45px;">
        </a>
        <!-- Botão de login -->
        <div class="d-flex justify-content-end">
          <li class="nav-item list-unstyled">
            <a class="btn btn-login mx-2" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </div>
      </div>
    </div>
  </nav>  
</header>

<!-- Carrossel de imagens -->
<app-carousel></app-carousel>
<!-- Lista de animais -->
<app-animais></app-animais>
<!-- Rodapé do site -->

<footer>
  <div class="footer-grid">
    <div>
      <p>Disque Denúncia Animal (São Paulo e Grande São Paulo)<br> 0800 600 6428</p>
      <p>Web Denúncia – <a href="http://www.webdenuncia.org.br" target="_blank">www.webdenuncia.org.br</a></p>
    </div>
    <div>
      <p>Delegacia Eletrônica de Proteção Animal<br>(Depa) – <a href="http://www.ssp.sp.gov.br/depa" target="_blank">http://www.ssp.sp.gov.br/depa</a></p>
      <p>Disque 181 ou (11) 3338-0155 / 1380</p>
    </div>
    <div>
      <p>Polícia Ambiental: <a href="http://denuncia.sigam.sp.gov.br/" target="_blank">http://denuncia.sigam.sp.gov.br/</a></p>
      <p>E-mail: <a href="mailto:ambientaldenuncias@policiamilitar.sp.gov.br">ambientaldenuncias@policiamilitar.sp.gov.br</a></p>
    </div>
  </div>
</footer>
<span class="criado"> Criado por PI-1 007 013 </span>
