/* Define a cor de fundo da barra de navegação */
.navbar-rosa-claro {
  background-color: #FFB6C1;
}

.logo {
  margin-top: -25px;
  width: 160%;
  height: 160%;
  object-fit: contain;
}

.navbar-brand {
  width: 200px;  
  height: 80px; 
}

$link-active: #bcc5f5;

.menu {
  background-color: var(--secondary-color);

  & li > a {
    text-decoration: none;
    color: rgb(15, 0, 0);
    padding: 0.5rem;
    border-radius: 0.5rem;

    &.active {
      background-color: lighten($link-active, 15);
    }
  }
}

h1 { 
  color: #000;
  font-weight: bold;
  //font-style: italic;
  font-family: "Slabo 27px", serif, Courier, monospace;
  position: relative;
  top: 0.1em;
}

.btn-custom {
  background-color: transparent; 
  font-weight: bold; 
  color: #060202; 
  border:rgb(8, 16, 20); 
  padding: 7px 20px; 
  border-radius: 5px; 
  box-shadow: 5 5px 3px palevioletred; 
  transition: all 0.3s ease; 

  &:hover {
    background-color: #a4dede; 
    box-shadow: 0 10px 10px 5px rgb(233, 160, 233); 
  }
}

.btn-login {
  background-color:rgb(203, 235, 235);
  color:black; 
  font-weight: bold; 
  //border:rgb(8, 16, 20); 
}
.btn-login:hover {
  background-color:#99e9e9; 
  box-shadow: 0 10px 10px 5px rgb(132, 146, 146); 
}

.btn-lista {
  background-color: rgb(146, 247, 220);
  color: black;
  border:rgb(8, 16, 20); 
  font-weight: bold; 
}
.btn-lista:hover {
  background-color: rgb(150, 156, 156); 
  box-shadow: 0 10px 10px 5px rgb(146, 247, 220); 
}

.btn-pets {
  background-color:#99e9e9; 
  color: black; 
  border:rgb(8, 16, 20); 
  font-weight: bold; 
}
.btn-pets:hover {
  background-color: rgb(150, 156, 156); 
  box-shadow: 0 10px 10px 5px #99e9e9; 
}

/* Estiliza o rodapé */
footer {
  background-color: #FFB6C1;
  padding: 20px;
}

.footer-grid {
  display: grid;
  margin: 30px;
  grid-template-columns: 5fr 4fr 4fr;
  text-align: justify;
  gap: 3px;
}

.criado {
  margin-top: 40px;
  margin-bottom: -40px;
  text-align: left;
  color: black;

}
@keyframes walking {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
.pegada {
  margin-top: 50px;
  background-image: url('/assets/imagens/patagato1.png');
  background-size: contain;
  width: 16px; 
  height: 16px; 
  animation: walking 10s infinite;
}
.alt1 {
  margin-top: 64px;
}