/* Estilos para a página de cadastro de animais */
.navbar-rosa-claro {
    background-color: #FFB6C1;
}

.formulario {
  justify-content: center;
  background-color: #f3e3e5;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FFB6C1;
}