<!-- Barra de navegação no topo da página -->
<nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <!-- Botão Home na barra de navegação -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-info" href="#" style="margin-left: 50px;">Home
            <span class="visually-hidden">(current)</span>
        </a>
        </li>
      </ul>

      <!-- Título da página, centralizado na barra de navegação -->
      <h2 class="fs-3" style="color: #a7087a; font-weight: bold; font-style: italic;">Cadastros-animais</h2>

      <!-- Espaço vazio para manter o título no centro -->
      <ul class="navbar-nav"></ul>
    </div>
  </div>
</nav>
<!-- Formulário de cadastro de animais -->

<form [formGroup]="profileForm" class="formulario" (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="row">
      <div class="col col-md-8">

        <label class="form-label mt-4">Nome:
          <input type="text" formControlName="nome" placeholder="Nome">
        </label>

        <label class="form-label mt-4">Matrícula:
          <input type="text" formControlName="matricula" placeholder="Matricula">
        </label>
        
        <label class="form-label mt-4">Espécie: 
          <input type="text" formControlName="especie" placeholder="Espécie">
        </label>
                
        <label class="form-label mt-4">Pelagem:
          <input type="text" formControlName="pelagem" placeholder="Pelagem">          
        </label>

        <label class="form-label mt-4">Raça:
          <input type="text" formControlName="raca" placeholder="Raça">
        </label>

        <label class="form-label mt-4">Sexo:
          <input type="text" formControlName="sexo" placeholder="Sexo">
        </label>

        <label class="form-label mt-4">Castração:
          <input type="text" formControlName="castracao" placeholder="Castração">
        </label>

        <label class="form-label mt-4">Vacinação:
          <input type="text" formControlName="vacinacao" placeholder="Vacinacao">
        </label>

        <label class="form-label mt-4">Local Resgate:
          <input type="text" formControlName="localResgate" placeholder="Local Resgate">
        </label>

        
          <label for="exampleTextarea" placeholder="Vacinação" class="form-label mt-4">Breve história do pet :</label>
          <textarea class="form-control" id="exampleTextarea"  rows="4"> Escreva aqui sobre o pet...</textarea>
      

        <label class="form-label mt-4">Status:
          <input type="text" formControlName="status" placeholder="Status">
        </label>

        <label for="formFile" class="form-label mt-4">Imagem do pet no formato $$$ x $$$</label>
        <input type="text" formControlName="imagem" class="form-control" type="file" id="formFile">

        <label class="form-label mt-4">Idade:
          <input type="text" formControlName="idade" placeholder="Idade">
        </label>
      </div>
    </div>

  <!-- Botão para submeter o formulário -->
<!-- A diretiva disabled desabilita este botão se o FormGroup 'profileForm' não é válido -->
<button type="submit" [disabled]="!profileForm.valid">Cadastrar</button>
  </fieldset>
</form>