<!-- Barra de navegação no topo da página -->
<nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <!-- Botão Home na barra de navegação -->
      <div class="header">
        <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
        <img src="assets/imagens/pegada (2).png" class="pegada" alt="Pegada">
        </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- O atributo href define o destino do link -->
           <a class="btn btn-info bot-home" href="#">Home
            <span class="visually-hidden">(current)</span> 
        </a>
          <!-- Botão para abrir o diálogo de adição de um novo adotante -->
        </li>
      </ul>

      <ul class="navbar-nav"></ul>
    </div>
  </div>
</nav>

<h1>Adotantes</h1>

<!-- Tabela Angular Material para exibir os dados dos adotantes -->
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabela">
    <!-- Definição das colunas da tabela. Cada coluna é definida dentro de um ng-container -->
    <!-- Coluna Matrícula -->
    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef> Matrícula </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.matricula}} </td>
    </ng-container>

    <!-- Coluna Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.nome}} </td>
    </ng-container>

    <!-- Coluna Telefone -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.telefone}} </td>
    </ng-container>

    <!-- Coluna Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.email}} </td>
    </ng-container>

    <!-- Coluna CPF -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.cpf}} </td>
    </ng-container>

    <!-- Coluna Estado Civil -->
    <ng-container matColumnDef="estadoCivil">
      <th mat-header-cell *matHeaderCellDef> Estado Civil </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.estadoCivil}} </td>
    </ng-container>

    <!-- Coluna Logradouro -->
    <ng-container matColumnDef="logradouro">
      <th mat-header-cell *matHeaderCellDef> Logradouro </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.logradouro}} </td>
    </ng-container>

    <!-- Coluna CEP -->
    <ng-container matColumnDef="cep">
      <th mat-header-cell *matHeaderCellDef> CEP </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.cep}} </td>
    </ng-container>

    <!-- Coluna Número -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Número </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.numero}} </td>
    </ng-container>

    <!-- Coluna Bairro -->
    <ng-container matColumnDef="bairro">
      <th mat-header-cell *matHeaderCellDef> Bairro </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.bairro}} </td>
    </ng-container>

    <!-- Coluna Cidade -->
    <ng-container matColumnDef="cidade">
      <th mat-header-cell *matHeaderCellDef> Cidade </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.cidade}} </td>
    </ng-container>

    <!-- Coluna Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.estado}} </td>
    </ng-container>

    <!-- Coluna Complemento -->
    <ng-container matColumnDef="complemento">
      <th mat-header-cell *matHeaderCellDef> Complemento </th>
      <td mat-cell *matCellDef="let adotante"> {{adotante.complemento}} </td>
    </ng-container>

    <!-- Coluna Ação -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let adotante">
        <!-- Botão para abrir o diálogo de edição -->
        <button mat-icon-button color="primary" (click)="openDialog(adotante)">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- Botão para deletar o adotante -->
       <!-- Botão para deletar o adotante -->
          <button mat-icon-button color="warn" (click)="deleteAdotante(adotante.cpf)">
            <mat-icon>delete</mat-icon>
         </button>
      </td>
    </ng-container>

    <!-- Linha do cabeçalho -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Linhas de dados -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="i % 2 == 0 ? 'even-row' : 'odd-row'"></tr>
  </table>
</div>

<!-- Rodapé do site -->
<footer class="text-center py-3 text-white">
  <span class="copyright"> Criado por PI-1 007 013 </span>
</footer>

<!--
  O botão "Adicionar Adotante" na barra de navegação abre o diálogo de formulário
  com um adotante vazio para adicionar um novo adotante.
  Cada linha da tabela tem um botão de edição e um botão de deletar.
  O botão de edição abre o diálogo de formulário com os dados do adotante dessa linha para editar esse adotante.
  O botão de deletar deleta o adotante dessa linha.
  Quando o diálogo de formulário é fechado, o componente verifica se um resultado foi retornado e, em caso afirmativo,
  adiciona ou edita o adotante conforme necessário.
  O componente obtém a lista inicial de adotantes do serviço AdotanteService quando é inicializado.

  Este código cria uma tabela com uma coluna para cada campo do adotante.
   Ele também tem uma coluna de ações com botões para editar e deletar cada adotante.
   Os dados para a tabela são fornecidos pela variável dataSource do componente. -->