/* Estilo para a barra de navegação, definindo a cor de fundo como rosa claro */
.navbar-rosa-claro {
    background-color: #FFB6C1;
  }
  .bot-home {
    font-weight: bold; 
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 15px; 
    background-color:  rgb(146, 247, 220) ; /* Substitua #corDeFundo pela cor que deseja */
    color:black; /* Substitua #corDoTexto pela cor que deseja */
  }
  
  /* Estilo para o formulário de cadastro de animais
   - A propriedade justify-content é usada para alinhar os itens no centro do container
   - Cor de fundo definida como um tom claro de rosa
   - Padding de 60px para dar espaço ao redor do conteúdo do formulário
   - Bordas arredondadas para um visual mais suave
   - Sombra ao redor do formulário para dar um efeito 3D e destacá-lo no restante da página
  */
  .formulario {
  justify-content: center;
  background-color: #f3e3e5;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FFB6C1;
  }