/* Estilo para a barra de navegação, definindo a cor de fundo como rosa claro */
.navbar-rosa-claro {
    background-color: #FFB6C1;
  }
  .bot-home {
    font-weight: bold; 
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 15px; 
    background-color:  rgb(146, 247, 220) ; 
    color:black; 
  }
.bot-home:hover {
    background-color: rgb(62, 237, 167);
    box-shadow: 0 10px 10px 3px rgb(165, 245, 213);
}

  .bot-salvar {
    background-color: rgb(165, 245, 213); /* Fundo do botão salvar */
    margin: 10px 0px 10px 0px;
    padding: 5px 35px; 
}
  .bot-salvar:hover {
    background-color: rgb(62, 237, 167); /* Fundo do botão salvar ao passar o mouse */
    box-shadow: 0 10px 10px 3px rgb(165, 245, 213); /* Sombra do botão salvar ao passar o mouse */
}  

  .formulario {
  justify-content: center;
  background-color: #f3e3e5;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FFB6C1;
  .formulario {
    justify-content: center;
    background-color: #f3e3e5;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFB6C1;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    max-height: 100vh; /* Define a altura máxima do formulário para a altura da janela do navegador */
}
  }