<!-- Barra de navegação no topo da página -->
<nav class="navbar navbar-expand-lg navbar-rosa-claro" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <!-- Botão Home na barra de navegação -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- O atributo href define o destino do link -->
          <a class="btn btn-info bot-home" href="#">Home
            <span class="visually-hidden">(current)</span> 
          </a> 
        </li>
      </ul>

      <!-- Título da página, centralizado na barra de navegação -->
      <h2 class="fs-3" style="color: #a7087a; font-weight: bold; font-style: italic;">Cadastro-Adotantes</h2>

      <!-- Espaço vazio para manter o título no centro -->
      <ul class="navbar-nav"></ul>
    </div>
  </div>
</nav>

<!-- Formulário de cadastro de adotantes -->
<!-- A diretiva formGroup vincula este formulário ao FormGroup 'profileForm' -->
<!-- A diretiva ngSubmit especifica a função a ser executada quando o formulário é submetido -->
<form [formGroup]="profileForm" class="formulario" (ngSubmit)="onSubmit()">
  
  <div class="container-fluid">

    <div class="col-12">
      <label class="form-label mt-5 col-8 me-3">Nome:
        <input type="text" formControlName="nome" placeholder="Nome completo" class="w-100">
      </label>
      
      <label class="form-label mt-5 col-3">Estado Civil:
        <input type="text" formControlName="estadoCivil" placeholder="Estado Civil" class="w-100">
      </label>
    </div>

    <div class="col-12">
      <label class="form-label mt-5 col-4 me-2">CPF: 
        <input type="text" formControlName="cpf" placeholder="CPF" class="w-100">
      </label>

      <label class="form-label mt-5 col-3 me-2">Telefone:
        <input type="text" formControlName="telefone" placeholder="Telefone" class="w-100">
      </label>
    
      <label class="form-label mt-5 col-4">Email:
        <input type="text" formControlName="email" placeholder="Email" class="w-100">
      </label>
    </div>
      
    <div class="col-12">
      <label class="form-label mt-5 col-9 me-3">Logradouro:
        <input type="text" formControlName="logradouro" placeholder="Logradouro" class="w-100">
      </label>
      <label class="form-label mt-5 col-2">Número:
        <input type="text" formControlName="numero" placeholder="Número" class="w-100">
      </label>
    </div>

    <div class="col-12">
      <label class="form-label mt-5 col-5 me-2">Cidade:
        <input type="text" formControlName="cidade" placeholder="Cidade" class="w-100">
      </label> 
      <label class="form-label mt-5 col-4 me-2">Bairro:
        <input type="text" formControlName="bairro" placeholder="Bairro" class="w-100">
      </label>
            
      <label class="form-label mt-5 col-2">Estado:
        <input type="text" formControlName="estado" placeholder="Estado" class="w-100">
      </label>
    </div>
     <div class="col-12"> 
      <label class="form-label mt-5 col-3 me-3">CEP
        <input type="text" formControlName="cep" placeholder="CEP" class="w-100">
      </label>
    <label class="form-label mt-5 col-8">Complemento:
      <input type="text" formControlName="complemento" placeholder="Complemento" class="w-100">
    </label>
  </div>  

    <!-- Botão para submeter o formulário -->
    <div class="row">
      <div class="col-12 text-center mt-5">
        <button type="submit" class="btn bot-salvar" [disabled]="!profileForm.valid ">Cadastrar</button>
      </div>
    </div>
  </div>
</form>