.navbar-rosa-claro {
    background-color: #FFB6C1;
}


.container {
    /* Define a cor de fundo do container */
    background-color: #fccfd6;
    padding: 50px 80px;
    
    }


footer {
    /* Define a cor de fundo do rodapé */
    background-color: #FFB6C1;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    }