<!-- animal-form.component.html -->
<div class="header">
  <img src="assets/imagens/logo pet.png" class="logo" alt="Logo">
  <img src="assets/imagens/pegada (2).png" class="pegada" alt="Pegada">
  </div>
  <h2>Animal</h2>

<div class="dialog-container form-content">
<div mat-dialog-content class="grid-container">


  <mat-form-field class="form-field campo-nome">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Especie</mat-label>
    <input matInput [(ngModel)]="data.especie">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Pelagem</mat-label>
    <input matInput [(ngModel)]="data.pelagem">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Raça</mat-label>
    <input matInput [(ngModel)]="data.raca">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Sexo</mat-label>
    <input matInput [(ngModel)]="data.sexo">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Castração</mat-label>
    <input matInput [(ngModel)]="data.castracao">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Vacinação</mat-label>
    <input matInput [(ngModel)]="data.vacinacao">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Local Resgate</mat-label>
    <input matInput [(ngModel)]="data.localResgate">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Idade</mat-label>
    <input matInput [(ngModel)]="data.idade">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Imagem</mat-label>
    <input matInput [(ngModel)]="data.imagem">
  </mat-form-field>
  
  <mat-form-field class="form-field campo-nome">
    <mat-label>Observação</mat-label>
    <input matInput [(ngModel)]="data.observacao">
  </mat-form-field>
</div>
  

<div mat-dialog-actions>
  <button mat-button class="bot-cancelar" (click)="onNoClick()">Cancelar</button>
  <button mat-button class="bot-salvar" (click)="save()" [mat-dialog-close]="data">Salvar</button>
</div> 
</div>





