

  .content-container {
    display: flex;
    justify-content: space-between;
  }
  
  .app-video, .app-img {
    flex: 1; /* Faz com que o vídeo e a imagem ocupem o mesmo espaço */
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .app-video .video, .app-img img {
    width: 100%; /* Faz com que o vídeo e a imagem ocupem todo o espaço disponível em seus respectivos contêineres */
    height: 100%; /* Mantém a proporção da imagem/vídeo */
    object-fit: contain; /* Garante que a imagem/vídeo mantenha suas proporções enquanto preenche o espaço disponível */
  }