<div class="content-container">
    <!-- Espaço para o texto ao lado do vídeo -->
    <div class="app-img">
      <img [src]="imageNextToVideo" alt="Descrição da imagem">
    </div>
  
  <div class="app-video">
    <!-- Vídeo com controles, em loop, início automático e silenciado -->
    <video loop autoplay muted class="video">
      <source src="assets/imagens/VdPets.mp4" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </div>
</div>

<!-- Container principal da página -->
<div>
  <!-- Seção principal da página -->
  <main>
    <!-- Título da página atual, centralizado e com estilo específico -->
    <h2 class="text-center fw-medium cor-texto">{{ pageCurrentTitle }}</h2>
    <!-- Local onde o conteúdo do roteamento será exibido -->
    <router-outlet></router-outlet>
  </main>
</div>