.navbar-rosa-claro {
    background-color: #FFB6C1;
}

.navbar-nav {
    padding-left: -0;
    position: absolute;
    left: 240px; 
  }

.header {
    display: flex;
    align-items: center;
  }
.logo {
    margin-top: -20px;
    width: 12%;
    height: 12%;
    object-fit: contain;
    
  }
  .pegada {
    width: 8%;
    height: 8%;
    object-fit: contain;
  }
  
.bot-home {
    font-weight: bold; 
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 10px; 
    background-color:  rgb(146, 247, 220);
    color:black;
    font-size: 15px;
}
.bot-home:hover {
    background-color: rgb(62, 237, 167);
    box-shadow: 0 10px 10px 3px rgb(165, 245, 213);
}

.bot-adic {
    font-weight: bold; 
    background-color:#99e9e9 !important; 
    color: black !important; 
    padding: 3px 12px; 
}

.container {
    /* Define a cor de fundo do container */
    padding: 50px 80px;
    
    }
       
h1 {
  text-align: center;
  margin: 0px;
  background-color: white; 
}

.tabela {
  border-left: 25px solid white; 
  border-right: 20px solid white;
  background-color: rgb(234, 243, 247);
 
}

/* lista-animais.component.scss */
.miniatura {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}


footer {
    /* Define a cor de fundo do rodapé */
    background-color: #FFB6C1;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    }
 
 :host ::ng-deep .even-row {
    background-color:  white; 
}

 :host ::ng-deep .odd-row {
    background-color: white; 
 }