.navbar-rosa-claro {
    background-color: #FFB6C1;
}


.container {
    /* Define a cor de fundo do container */
    background-color: #fccfd6;
    padding: 50px 80px;
    
    }


footer {
    /* Define a cor de fundo do rodapé */
    background-color: #FFB6C1;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    }
    :host ::ng-deep .even-row {
        background-color: #f2f2f2; /* or any light color of your choice */
    }
    
    :host ::ng-deep .odd-row {
        background-color: #d9d9d9; /* or any dark color of your choice */
    }