// Importa os estilos globais do Bootstrap
@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

// Importa os estilos do tema Minty do Bootswatch
@import '/node_modules/bootswatch/dist/minty/bootstrap.min.css';

// Importa os estilos SCSS do Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

// Importa os estilos do Datepicker do ngx-bootstrap
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// Estilos globais

// Aplica a todos os elementos
* {
    // Garante que o padding e a margem são incluídos na largura e altura total de um elemento
    box-sizing: border-box;
}

// Aplica ao html e ao body
html, body {
    // Garante que os elementos html e body ocupem a altura total da viewport
    height: 100%;
    background-color: #f5d9f3;
}

// Define variáveis de cores no escopo root


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
