// Define a cor de fundo para a barra de navegação
.navbar-rosa-claro {
  background-color: #FFB6C1;
}

// Define valores para z-index
$z-index-wrapper: 10;

// Define cores
$color-wrapper-bg: #f88b7a9c;

.animal-list {
// Define o display para grid
display: grid;
// Define 6 colunas de tamanho igual
grid-template-columns: repeat(6, 1fr);
// Centraliza os itens na célula da grid
justify-items: center;
// Define o espaço entre os itens da grid
gap: 2rem;

.animal-image {
  // Define a posição como relativa para permitir posicionamento absoluto dos filhos
  position: relative;

  // Mostra o wrapper do animal quando o mouse passa sobre a imagem
  &:hover {
    .animal-wrapper {
      display: block;
    }
  }
}

.animal-wrapper {
  // Esconde o wrapper do animal por padrão
  display: none;
  // Posiciona o wrapper do animal sobre a imagem
  position: absolute;
  // Define a cor de fundo do wrapper do animal
  background-color: $color-wrapper-bg;
  // Posiciona o wrapper do animal no topo e à esquerda da imagem
  top: 0;
  left: 0;
  // Faz o wrapper do animal ocupar toda a largura e altura da imagem
  width: 100%;
  height: 100%;
  // Coloca o wrapper do animal acima da imagem
  z-index: $z-index-wrapper;
}
}